[user]
	name = Cliff Lau
	email = cliff@clifflau.hk

[core]
	eol = lf
	autocrlf = input
	editor = nvim
	pager = delta
	excludesfile = /Users/cliff/.gitignore_global

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections

[push]
    autoSetupRemote = true

[merge]
    conflictStyle = zdiff3

[include]
    path = .gitaliases

[includeIf "gitdir:/Users/cliff.lau/code/personal/"]
    path = .gitconfig-personal

[includeIf "gitdir:/Users/cliff.lau/code/qdev/"]
    path = .gitconfig-lgt
