# Rime
**/rime/chat.dict.yaml
**/rime/personal.dict.yaml
**/rime/shortcut.dict.yaml

# LGT Configurartions
.gitconfig-lgt

# Container Configurartions
.config/containers/
.config/systemd/user/*.wants

# Spoons
.hammerspoon/Spoons

# Secrets
.secrets

# Mac OS
.DS_Store
